<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="background-color: orange;
    color: whitesmoke;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    ">
        signup page
    </h1>
    <form action="signup/" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="submit" />
    </form>

    <a href="employeelist/">All Employee</a>

</body>

</html>